.selected-style{
  outline: 2px solid cyan;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-content {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
  white-space: nowrap;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
