<!-- Difficulty buttons  -->
<div class="container-md space-x-3 space-y-3">

    <div class="space-x-3 mb-3">
      <!-- Math operations -->
        <math-op-button *ngFor="let operation of mathOperations"
            [selectedOperation]="selectedOperation"
            [operationName]="operation"
            [operationType]="operation"
            (operationSelected)="onOperationChange(operation)" >
        </math-op-button>
    </div>

    <!-- Difficulties buttons  -->
    <difficulty-button 
    *ngFor="let difficulty of difficulties; trackBy: trackByDifficulty"
      [label]="difficulty" 
      [variant]="difficulty"
      (clicked)="onDifficultyChange(difficulty)">
    </difficulty-button>



<!-- Math content section -->
<div class="container-md math-problem flex flex-row" *ngIf="currentExercise">
    <h1 class="text-9xl">{{ currentExercise?.question }} = </h1>
    <div>
      <input-result
      [correct]="isAnswerCorrect"
      (userAnswerChange)="onUserAnswerChange($event)"
      (enterPressed)="onSubmit()">
    </input-result>
    </div>
  </div>
