<div class="container-md space-x-3">
    <!-- Basic -->
    <button
        class="btn difficulty-easy bg-green-200 dark:bg-green-600 text-black dark:text-white hover:bg-green-300 dark:hover:bg-green-500">Basic</button>

    <!-- Easy -->
    <button
        class="btn difficulty-easy bg-green-400 dark:bg-green-700 text-white hover:bg-green-500 dark:hover:bg-green-600">Easy</button>

    <!-- Medium -->
    <button
        class="btn difficulty-medium bg-yellow-400 dark:bg-yellow-600 text-black dark:text-white hover:bg-yellow-500 dark:hover:bg-yellow-500">Medium</button>

    <!-- Hard -->
    <button
        class="btn difficulty-hard bg-red-500 dark:bg-red-700 text-white hover:bg-red-600 dark:hover:bg-red-600">Hard</button>

    <!-- Mix -->
    <button class="btn difficulty-mix bg-orange-500 text-white rounded-lg 
    hover:bg-orange-600 transition-all duration-300 px-4 py-2">Mix</button>
    
    


</div>
<div class="container-md">
    <h1 class="text-7xl">test</h1>
</div>