<!-- Difficulty buttons  -->
<div class="container-md space-x-3">

  <div class="space-x-3 m-7">
    <app-quick-stat-current-strike [currentStrike]="correctAnswerCount" ></app-quick-stat-current-strike>
    <app-quick-stat-highest-strike></app-quick-stat-highest-strike>
    <app-quick-stat-accuracy-rate></app-quick-stat-accuracy-rate>
  </div>

  <div class="space-x-3 mb-3 flex justify-center">
    <!-- Math operations -->
    <math-op-button *ngFor="let operation of mathOperations" [selectedOperation]="selectedOperation"
      [operationName]="operation" [operationType]="operation" (operationSelected)="onOperationChange(operation)">
    </math-op-button>
  </div>

  <!-- Difficulties buttons  -->
  <div class="flex justify-center space-x-3">
    <difficulty-button *ngFor="let difficulty of difficulties; trackBy: trackByDifficulty" [label]="difficulty"
      [variant]="difficulty" (clicked)="onDifficultyChange(difficulty)">
    </difficulty-button>
  </div>


  <!-- Math content section -->
  <div class="container-md math-problem flex flex-row" *ngIf="currentExercise">
    <h1 class="text-9xl">{{ currentExercise.question }} = </h1>
    <div>
      <input-result [correct]="isAnswerCorrect" (userAnswerChange)="onUserAnswerChange($event)"
        (enterPressed)="onSubmit()">
      </input-result>
    </div>
  </div>