# Ignore Angular build/cache files
angular/cache/

# Ignore TypeScript build files
*.tsbuildinfo

# Ignore JavaScript map files (source maps)
*.js.map

# Ignore Angular/Vite dependency files
.angular/cache/
dist/
node_modules/

# Ignore Vite build files
vite/

# Ignore VSCode workspace settings
.vscode/

# Ignore Webstorm s
.idea
server/.idea
.idea

# Ignore server BS
server/.vs
server/obj
server/bin/debug