<!-- Difficulty buttons-->
<div *ngIf="!isExerciseRunning" class="container-md">

  <div class="flex w-full">
    <div class="card bg-base-300 rounded-box grid h-20 flex-grow place-items-center" style="height: 250px;">
      <div class="flex justify-center flex-wrap " style="max-width: 345px;">
        <app-generic-button *ngFor="let difficulty of difficulties"
                            [tooltipContent]="difficulty.tooltip"
                            [label]="difficulty.difficulty"
                            [value]="difficulty.difficulty"
                            [selectedValue]="selectedDifficulty"
                            (valueSelected)="handleDifficultySelection($event)"
                            style="margin: 10px 0.5rem;"
        >
        </app-generic-button>
      </div>
    </div>

    <div class="divider divider-horizontal">OR</div>

    <div class="card bg-base-300 rounded-box grid h-20 flex-grow place-items-center" style="height: 250px;">

      <div class="flex w-full flex-col border-opacity-50 p-3">
        <!-- ⏳❌ Dropdown button no time limit  -->
        <div class="dropdown">
          <div tabindex="0" role="button"
          [ngClass]="{'selected-style' : selectedLimit === '1min' || selectedLimit === '5min' || selectedLimit === '10min' || selectedLimit === '30min'}"
               class="bg-gray-700 text-white font-medium py-2 px-4 rounded-md hover:bg-gray-800 transition duration-200 ease-in-out m-5 flex items-center space-x-1">
            <div class="border-2 border-gray-800 rounded-full p-1" style="background-color: #6935fa;">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3" />
              </svg>
            </div>
            <span>Start Timer</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 ml-2">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </div>
          <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[50] w-52 p-2 shadow">
            <li><a (click)="handleSelectLimit('1min')">1 min timer</a></li>
            <li><a (click)="handleSelectLimit('5min')">5 min timer</a></li>
            <li><a (click)="handleSelectLimit('10min')">10 min timer</a></li>
          </ul>
        </div>
        <div class="divider">OR</div>
        <div class="card bg-base-300 rounded-box grid h-20 place-items-center">
          <button (click)="handleSelectLimit('noTimeLimit')" [ngClass]="{'selected-style' : selectedLimit === 'noTimeLimit' }" class="bg-gray-700 text-white font-medium py-2 px-4 rounded-md hover:bg-gray-400 transition duration-200 ease-in-out" style="margin:20px">
            <div class="flex items-center space-x-2">
              <div class="border-2 border-gray-400 rounded-full flex items-center justify-center p-2" style="background-color: #ffcc00; width: 32px; height: 32px;">
                ♾️
              </div>
              <span>No Time Limit</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <ul class="steps w-full">
    <li class="step" [ngClass]="{ 'step-primary' : selectedDifficulty  }">Challenge level</li>
    <li class="step" [ngClass]="{ 'step-primary' : selectedLimit }">Time Limit or Not Limit</li>
    <li class="step" [ngClass]="{ 'step-primary' : isExerciseRunning}" >Start!</li>
  </ul>
  <button (click)="startExercise()" class="btn btn-primary mt-3 w-full">Start</button>
</div>


 <div *ngIf="isExerciseRunning" class="parent">
  <div class="div1">
    <div class="flex flex-col items-center space-y-2">
      <div class="stats shadow">
        <div class="stat">
          <div class="stat-title">Level</div>
          <div class="stat-value">{{currentLevel}}</div>
          <div class="stat-desc">
            Progress: {{levelProgress.current}}/{{levelProgress.required}}
          </div>
        </div>

        <div class="stat">
          <div class="stat-title">Streak</div>
          <div class="stat-value">{{currentStreak}}x</div>
          <div class="stat-desc">
            Multiplier: {{1 + (currentStreak * 0.1) | number:'1.1-1'}}x
          </div>
        </div>
      </div>
  </div>

  </div>
   <div class="div2">
    <span class="countdown font-mono text-4xl flex justify-center">
      Difficulty {{selectedDifficulty |  firstLetterUpperCase }}
    </span>
     <!-- Progress bar for level -->
     <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
       <div class="bg-blue-600 h-2.5 rounded-full"
            [style.width]="(levelProgress.current / levelProgress.required * 100) + '%'">
       </div>
     </div>
   </div>

  <div class="div3">
    <!-- Timer ♾️ -->
    <div class="w-full flex-col border-opacity-50">
      <span class="countdown font-mono text-6xl flex justify-center">
        {{timerValue !== 0 ? timerValue : '♾️'}}
      </span>
      <div class="divider">⭐</div>
      <div class="card bg-base-300 rounded-box grid h-20 place-items-center">
        <button (click)="stopTimer()" class="btn btn-outline btn-error">Stop</button>
      </div>
    </div>
  </div>
  <div class="div4 flex justify-center items-center">

    <div class="container-md math-problem flex flex-row justify-center" *ngIf="currentExercise">
      <h1 style="width: max-content;" class="text-9xl">{{ currentExercise.question }} = </h1>
      <div>
        <input-result [correct]="isAnswerCorrect" (userAnswerChange)="onUserAnswerChange($event)"
                      (enterPressed)="onSubmit()">
        </input-result>
      </div>
    </div>

  </div>

  <div class="div5">
    <app-difficulty-performance>
    </app-difficulty-performance>
  </div>
  <div class="div6">
    <app-doughnut-chart></app-doughnut-chart>
  </div>
  <div class="div7">
    <app-points-progress></app-points-progress>
  </div>
</div>
