<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <!-- Mobile (small screen) -->
        <li>
          <a routerLink="/" routerLinkActive="bg-gray-500 text-white" 
             [routerLinkActiveOptions]="{ exact: true }">
            Trachtenberg
          </a>
        </li>        
        <li><a routerLink="/rapid" routerLinkActive="bg-gray-500 text-white">Rapid</a></li>
        <li>
          <a>Calculations</a>
          <ul class="p-2 space-y-2">
            <li><a routerLink="/addition" routerLinkActive="bg-gray-500 text-white">Addition</a></li>
            <li><a routerLink="/subtraction" routerLinkActive="bg-gray-500 text-white">Subtraction</a></li>
            <li><a routerLink="/multiplication" routerLinkActive="bg-gray-500 text-white">Multiplication</a></li>
            <li><a routerLink="/multiplication-table" routerLinkActive="bg-gray-500 text-white">Multiplication table</a></li>
            <li><a routerLink="/division" routerLinkActive="bg-gray-500 text-white">Division</a></li>
          </ul>
        </li>
        <li><a routerLink="/stats" routerLinkActive="bg-gray-500 text-white">Stats</a></li>
      </ul>
    </div>
    <a routerLink="/" class="btn btn-ghost text-xl">🧮Trachtenberg system</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 space-x-3">
      <!-- Big screen -->
       <!-- Something wrong here -->
       <li>
        <a routerLink="/" routerLinkActive="bg-gray-500 text-white" 
           [routerLinkActiveOptions]="{ exact: true }">
          Trachtenberg
        </a>
      </li>
      
      <li><a routerLink="/rapid" routerLinkActive="bg-gray-500 text-white">Rapid</a></li>
      <li>
        <details>
          <summary>Calculations</summary>
          <ul class="p-2 space-y-2">
            <li><a routerLink="/addition" routerLinkActive="bg-gray-500 text-white">Addition</a></li>
            <li><a routerLink="/subtraction" routerLinkActive="bg-gray-500 text-white">Subtraction</a></li>
            <li><a routerLink="/multiplication" routerLinkActive="bg-gray-500 text-white">Multiplication</a></li>
            <li><a routerLink="/multiplication-table" routerLinkActive="bg-gray-500 text-white">Multiplication table</a></li>
            <li><a routerLink="/division" routerLinkActive="bg-gray-500 text-white">Division</a></li>
          </ul>
        </details>
      </li>
      <li><a routerLink="/stats" routerLinkActive="bg-gray-500 text-white">Stats</a></li>
    </ul>
  </div>
  <div class="navbar-end space-x-3">
    <dark-mode-toggle></dark-mode-toggle>
    <button (click)="openLoginModal()" class="btn btn-primary btn-sm">Login</button>
    <button (click)="openRegisterModal()" class="btn btn-secondary border-none btn-sm bg-gray-700 hover:bg-gray-900 text-white">Sign Up</button>
  </div>

  <app-login-modal #loginModal></app-login-modal>
  <app-register-modal #registerModal></app-register-modal>
</div>