<div class="stats shadow">
    <div class="stat">
        <div class="stat-figure text-secondary flex m-0">
          <svg xmlns="http://www.w3.org/2000/svg" height="37px" viewBox="0 -960 960 960" width="37px" fill="#3b82f6"><path d="m136-240-56-56 296-298 160 160 208-206H640v-80h240v240h-80v-104L536-320 376-480 136-240Z"/></svg>
        </div>
        <div class="stat-title">Strike</div>
        <div *ngIf="isPlusOneActive" class="custom-badge">
          +1
        </div>
        <div class="stat-value">{{ currentStrike }}</div>
      </div>
</div>