.math-input-container {
    position: relative;
    display: inline-block;
  }

.math-input {
    font-size: 8rem;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: #2d353f;
    border-radius: 10px;
    box-sizing: content-box;
    /* padding-left: 15px; */
    min-width: 100px;
  }

.math-input::-webkit-scrollbar {
    display: none;
}

.math-input::-webkit-inner-spin-button,
.math-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.math-input:focus {
    outline: none;
    border: 2px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: border 0.3s ease-in-out, transform 100ms ease-in-out;
    background-color: #313841;
    transform: scale(1.05);
}

.mirror-span {
    position: absolute;
    visibility: hidden;
    white-space: pre;
    font-size: 8rem;
    font-family: inherit;
    line-height: normal;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: content-box;
  }

  .correct-answer{
    outline: 7px solid #a4f3a4!important;
  }

  .incorrect-answer{
    outline: 7px solid #f3a4a4!important;

  }