.math-input-container {
    position: relative;
    display: inline-block;
  }

.math-input {
    font-size: 8rem;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    border-radius: 10px;
    box-sizing: content-box;
    /* padding-left: 15px; */
    min-width: 100px;
  }

.math-input::-webkit-scrollbar {
    display: none;
}

.math-input::-webkit-inner-spin-button,
.math-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.math-input:focus {
    outline: none;
    border: 2px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: border 50ms ease-in-out, transform 100ms ease-in-out;
    transform: scale(1.05);
}

.mirror-span {
    position: absolute;
    visibility: hidden;
    white-space: pre;
    font-size: 8rem;
    font-family: inherit;
    line-height: normal;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: content-box;
  }

/* input-result.component.css */
.math-input.correct-answer {
  @apply border-4 border-success;
  box-shadow: 0 0 0 4px theme('colors.success' / 30%);
}

.math-input.incorrect-answer {
  @apply border-4 border-error;
  box-shadow: 0 0 0 4px theme('colors.error' / 30%);
}

/* Keep your existing styles */
.math-input::-webkit-inner-spin-button,
.math-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input::placeholder {
  color: #a6adbb4b;
}