<!-- Difficulty buttons  -->
<!--<div class="container-md space-x-3">-->



<!--  <div class="space-x-3 mb-3 flex justify-center">-->
<!--    &lt;!&ndash; Addition settings &ndash;&gt;-->
<!--    <app-generic-button *ngFor="let difficulty of difficulties"-->
<!--                        [tooltipContent]="difficulty.tooltip"-->
<!--                        [label]="difficulty.difficulty"-->
<!--    >-->
<!--    </app-generic-button>-->

<!--  </div>-->
<!--  -->
<!--  &lt;!&ndash; Math content section &ndash;&gt;-->
<!--  <div class="container-md math-problem flex flex-row justify-center" *ngIf="currentExercise">-->
<!--    <h1 class="text-9xl">{{ currentExercise.question }} = </h1>-->
<!--    <div>-->
<!--      <input-result [correct]="true" (userAnswerChange)="onUserAnswerChange($event)"-->
<!--                    (enterPressed)="onSubmit()">-->
<!--      </input-result>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="parent">
  <div class="div1"> </div>
  <div class="div2"> </div>
  <div class="div3"> </div>
  <div class="div4"> </div>
  <div class="div5"> </div>
  <div class="div6"> </div>
  <div class="div7"> </div>
</div>
