<h1>jfklesalfl;</h1>
<!-- Difficulty buttons  -->
<div class="container-md space-x-3">



  <div class="space-x-3 mb-3 flex justify-center">
    <!-- Addition settings -->

  </div>

  <!-- Difficulties buttons  -->
  <div class="flex justify-center space-x-3">

  </div>


  <!-- Math content section -->
  <div class="container-md math-problem flex flex-row justify-center" *ngIf="currentExercise">
    <h1 class="text-9xl">{{ currentExercise.question }} = </h1>
    <div>
      <input-result [correct]="true" (userAnswerChange)="onUserAnswerChange($event)"
                    (enterPressed)="onSubmit()">
      </input-result>
    </div>
  </div>
</div>
