/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.quick-math-icon{
    font-size: 37px;
}

.selected-style-two{
  outline: 3px solid #ff00d0;
  border-radius: 0.375rem;
}

body {
  font-family: "Nunito", sans-serif!important;
  font-optical-sizing: auto;
  font-style: normal;
}